# Python
.venv/
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# Training data (too large for git)
dataset_annotated/
arduino_servo_control/
train_images/
test_images/
runs/
Pepsi/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.idea/
.vscode/
